

h1 {
  font-family: Festive;
  letter-spacing: 20px;
  font-size: 75px;
}

.rules {
  text-align: center;
}

.rules .explanation a {
  background-size: 23%;
  border-style: solid;
  border-color: #CCF9D4;
  padding: 45px;
  padding-left: 120px;
  padding-right: 120px; 
}



.explanation {
  border-style: solid;
  padding: 30px;
  margin: 65px;
  background-color: #CCF9D4;
  border-color: #867b77;
  border-radius: 25px;
}

p {
  line-height: 30px;
  font-size: 20px;
}

.creategroup {
  padding: 15px;
  font-size: 20px;
}

@media all and (max-width: 600px) {
  h1 {
    font-family: Festive;
    letter-spacing: 15px;
    font-size: 35px;
  }

  .rules .explanation a {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    background-size: 15%;
    font-size: 18px;
    text-align: center;
  }
}