h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 45px;
}

.header {
  height: 200px;
  background-image: url('/src/Images/snowfont_53.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #123C45;
}

@media all and (min-width: 600px)  and (max-width: 2000px) {
  h1 {
    margin-top: 0px;
    font-size: 45px;
  }

  .header {
    height: 600px;
    background-image: url('/src/Images/snowfont_53.png');
    background-size: 100%;
    background-position: center;
  }
}

