fieldset {
  text-align: center;
  padding: 30px;
  margin: 65px;
  border-style: solid;
  border-width: 5px;
  border-color: #000;
}

.submitmember {
  padding: 15px;
  font-size: 20px;
  background-color: #ccf9d4;
  border-radius: 15px;
}

.cancelsubmit {
  padding: 15px;
  font-size: 20px;
  background-color: #ccf9d4;
  border-radius: 15px;
}


@media all and (max-width: 500px) {
  .submitmember {
    padding: 15px;
    font-size: 20px;
    background-color: #ccf9d4;
    border-radius: 15px;
  }
  
  .cancelsubmit {
    padding: 15px;
    font-size: 20px;
    background-color: #ccf9d4;
    border-radius: 15px;
  }

  fieldset a {
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background-size: 20%;
  }
}