p {
  text-align: center;
  line-height: 55px;
  font-size: 20px;
}

.textbox {
  padding: 30px;
  margin: 65px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

.toaccount {
  padding: 15px;
  background-color: #ff2525;
  font-size: 20px;
}

@media all and (min-width: 600px) {
  .textbox {
    padding: 70px;
    margin-right: 200px;
    margin-left: 200px;
  }
}