@font-face {
  font-family: 'Festive';
  src: url('../Fonts/festive-personaluse-webfont.woff');
}

p {
  text-align: center;
  line-height: 55px;
  font-size: 20px;
}

.landingPage {
  background-color: #123C45;
}

.textbox {
  padding: 30px;
  margin: 65px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  background-color: #CCF9D4;
}

.nextpage {
  padding: 15px;
  background-color: #ff2525;
  font-size: 20px;
}

a {
  color: #123C45;
  font-size: 25px;
  text-decoration: none;
  border-style: solid;
  border-color: #CCF9D4;
  padding: 35px;
  padding-left: 95px;
  padding-right: 95px;
  background-image: url('/src/Images/santa.png');
  background-size: 30%;
  background-repeat: no-repeat;
}

p {
  font-family: Corbel;
}


@media all and (min-width: 600px) {
  .textbox {
    padding: 35px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #CCF9D4;
  }
}

@media all and (max-width: 500px) {
  .textbox {
    margin-right: 40px;
    margin-left: 40px;
  }

  a {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    background-size: 30%;
    font-size: 25px;
  }
}