fieldset {
  background-color: #CCF9D4;
}

h1 {
  text-align: center;
  color: #C8FDCF;
}

p {
  font-size: 20px;
}
form {
  font-size: 20px;
}

.center {
  font-size: 30px;
  text-align: center;
}

#dollar {
  font-size: 20px;
}

#name {
  font-size: 20px;
}