fieldset {
  background-color: #CCF9D4;
  border-style: solid;
  border-radius: 25px;
  border-color: #867b77;
}

h1 {
  text-align: center;
  color: #C8FDCF;
}

p {
  font-size: 20px;
}

form {
  font-size: 20px;
  
}

.center {
  font-size: 30px;
  text-align: center;
}

#dollar {
  font-size: 20px;
}

#name {
  font-size: 20px;
}

.editsubmit {
  font-size: 20px;
  padding: 15px;
  background-color: #ccf9d4;
  border-radius: 15px;
}

.deletemember {
  font-size: 20px;
  padding: 15px;
  background-color: #ccf9d4;
  border-radius: 15px;
}

@media all and (max-width: 500px) {
  .editsubmit {
    font-size: 20px;
    padding: 15px;
    background-color: #ccf9d4;
    border-radius: 15px;
  }
  
  .deletemember {
    font-size: 20px;
    padding: 15px;
    background-color: #ccf9d4;
    border-radius: 15px;
  }

  fieldset {
    background-color: #CCF9D4;
    border-style: solid;
    border-radius: 25px;
    border-color: #867b77;
    padding: 10px;
  }
}