h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  line-height: 55px;
  font-size: 20px;
}

fieldset {
  text-align: center;
  padding: 30px;
  margin: 65px;
  border-style: solid;
  border-width: 5px;
  border-color: #000;
}


.username {
  font-size: 20px;
}

.password {
  font-size: 20px;
}

.createnew {
  padding: 15px;
  font-size: 20px;
}

.signin {
  padding: 15px;
  font-size: 20px;
}

@media all and (min-width: 600px) {
  fieldset {
    padding: 70px;
    margin-right: 200px;
    margin-left: 200px;
  }
}