.groupmembers {
  text-align: center;
  background-color: #123C45;
  padding: 30px;
}

.groupmembers .groupbody .members a {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  background-size: 15%;
}

h1 {
  color: #C8FDCF;
}

.begindrawing {
  padding: 15px;
  font-size: 20px;
}

.groupbody {
  border-style: solid;
  background-color: #CCF9D4;
  border-color: #867b77;
  border-radius: 25px;
  padding: 10px;
  margin: 15px;
}

.members {
  list-style-type: none;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  border-color: #867b77;
  padding: 0;
  
}

.individuals {
  font-size: 20px;

  border-color: #867b77;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  padding: 5px;  
  margin: 5px;

}



.refresh {
  padding: 10px;
  font-size: 25px;
  border-radius: 2px;
}

@media all and (min-width: 300px)  {
  .groupmembers {
    margin-right: 15px;
    margin-left: 15px;
  }

  .members {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
  }
}

@media all and (max-width: 600px) {
  .groupmembers .groupbody .members a {
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-style: none;
    padding-top: 5px;
    background-size: 15%;
    border-color: none;
    text-align: center;
  }

  .groupbody a {
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px;
  }
}