.groupmembers {
  text-align: center;
}

.begindrawing {
  padding: 15px;
  font-size: 20px;
}

.groupbody {
  padding: 30px;
  margin: 65px;
  border-style: solid;
}

@media all and (min-width: 600px) {
  .groupbody {
    padding: 70px;
    margin-right: 200px;
    margin-left: 200px;
  }
}