/*@font-face {
  src: url();
  font-family: 
}*/

.groupmembers {
  text-align: center;
  background-color: #123C45;
  padding: 30px;
}

.groupmembers .groupbody .members a {
  border-style: solid;
  border-color: #000;
}

h1 {
  color: #C8FDCF;
}

.begindrawing {
  padding: 15px;
  font-size: 20px;
}

.groupbody {
  /*padding: 30px;
  margin: 65px;*/
  border-style: solid;
  background-color: #CCF9D4;
}

.members {
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

.individuals {
  font-size: 20px;
  border-color: #000;
  border-width: 5px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
  flex-basis: 3;
  float: left;
}

.refresh {
  padding: 10px;
  font-size: 25px;
  border-radius: 2px;
}

@media all and (min-width: 300px)  {
  .groupmembers {
    margin-right: 15px;
    margin-left: 15px;
  }

  .members {
    display: flex;
    flex-flow: column;
   /* margin-left: 20px;
    margin-right: 20px;*/
    justify-content: space-evenly;
  }

  .groupbody {
    padding: 10px;
    margin: 10px;
  }
}