h3 {
  text-align: center;
}

.pass {
  font-size: 20px;
  padding: 15px;
}

.drawbody {
  text-align: center;
  padding: 30px;
  margin: 65px;
  border-style: solid;
  border-width: 5px;
  border-color: #000;
}

@media all and (min-width: 600px) {
  fieldset {
    padding: 70px;
    margin-right: 200px;
    margin-left: 200px;
  }
}