.drawscreen {
    text-align: center;
  }
  
  .startdraw {
    padding: 15px;
    font-size: 20px;
  }
  
  #groupmembers {
    padding: 10px;
    font-size: 20px;
  }
  
  .drawbody {
    padding: 30px;
    margin: 65px;
    border-style: solid;
    border-width: 5px;
    background-color: #CCF9D4;
    border-style: solid;
    border-radius: 25px;
    border-color: #867b77;
  }
  
  @media all and (max-width: 600px) {
    .drawbody a {
      padding: 20px;
    }
  }